name: Playwright Tests
on:
  push:
    branches: [ Lesson_15 ]
  pull_request:
    branches: [ main ]

env:
  CI: true

jobs:
  test:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup dotnet
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Build & Install
      run: dotnet build LambdatestEcom
    - name: Ensure browsers are installed
      run: pwsh LambdatestEcom/bin/Debug/net8.0/playwright.ps1 install --with-deps
    - name: Run your tests
      run: dotnet test LambdatestEcom